<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.fobbu.member.android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
            android:name=".apiInterface.MyApplication"
            android:allowBackup="false"
            android:icon="@mipmap/app_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/app_icon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="android:allowBackup">
        <activity
                android:name=".activities.SplashActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".tutorial.TutorialActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.loginSignupModule.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateVisible"/>
        <activity
                android:name=".activities.loginSignupModule.SignUpActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.loginSignupModule.ForgotPasswordActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activities.loginSignupModule.SMSVerificationActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateVisible"/>
        <activity
                android:name=".activities.loginSignupModule.GeneratePINActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name=".activities.dashboardActivity.DashboardActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name=".activities.vehicleModule.AddEditVehicleActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name=".activities.waitingScreenModule.WaitingScreenBlue"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name=".activities.waitingScreenModule.WaitingScreenWhite"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name=".activities.vehicleModule.VehicleListActivity"
                android:screenOrientation="portrait"/>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".fcm.myFirebaseInstanceIDService.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
                android:name=".activities.rsaModule.RSARequestCancelActivity"
                android:theme="@style/Transparent">
        </activity>
        <activity
                android:name=".activities.rsaModule.CancellationSuccessMessageActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.paymentModule.WorkSummaryActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".activities.paymentModule.PaymentModeActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.paymentModule.GetSetGoActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.orderAndPassbookModule.MyOrder.MyOrdersActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.orderAndPassbookModule.passbook.MyPassbookActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.orderAndPassbookModule.OrderDetail.OrderDetailActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.orderAndPassbookModule.passbookDetail.PassbookDetailActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.emergencyContactsModule.emergencyContacts.EmergencyContactsActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activities.paymentSettings.PaymentSettingActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.freebies.FreebiesActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.help.HelpActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.securitySetting.SecuritySettingActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.changePassword.ChangePasswordActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.emergencyContactsModule.contactList.ContactListActicvity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".activities.profile.ProfileActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
        </activity>

        <service
                android:name=".backgroundServices.FetchStatusAPI"
                android:enabled="true"/>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity android:name=".activities.paymentModule.OdsGetSetGoActivity">
        </activity>
        <activity android:name=".activities.GooglePlacesActivity.GooglePlacesActivity">
        </activity>
        <activity android:name=".activities.profileModule.langauage.LanguageActivity">
        </activity>
        <activity android:name=".activities.selectVehicleActivity.SelectVehicleActivity">
        </activity>
    </application>

</manifest>